.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 auto;
}

.card{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}

.card:hover .icon-circle{
    animation: rotate 3s infinite alternate;
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}